@charset "utf-8";

#ex1{border-bottom:1px double black; margin-bottom:50px; margin-left:650px; width:500px; font-size:100px; font-weight:bold;}

#main{border-collapse:collapse;}
#main th,#main td{border:1px solid black; font-size:15px; width:350px; height:100px;}

#ex1_1 th{width:5px; height:20px;}
#ex1_2 th{width:5px; height:15px;}
#ex1_3 th{width:5px; height:65px;}

#ex2_1 th{width:15px; height:5px;}
#ex2_2 th{width:15px; height:5px;}

#ex3_1{width:20; height:5;}
#ex3_2{width:40; height:5;}
#ex3_3{width:75; height:5;}
#ex3_4{width:75; height:7;}
#ex3_5{width:75; height:19;}
