@charset "utf-8";

h2{text-decoration:underline;}
h3{text-decoration:underline overline line-through;color:blue;word-spacing:50px;}
p{font-weight:bold;background-color:#999999;letter-spacing:2px;}


























