@charset "utf-8";

/*reset*/
div,p{margin:0px; padding:0px;}

#container{width:1000px; height:500px; background-color:green; color:#ffffff; position:relative;}

.top_left{position:absolute; left:0px; top:0px;}
.top_right{position:absolute; right:0px; top:0px;}
.bottom_left{position:absolute; bottom:0px; left:0px;}
.bottom_right{position:absolute; bottom:0px; right:0px;}
.middle{position:absolute; top:50%; left:50%; /*중요*/transform:translate(-50%/*X*/, -50%/*Y*/);}/*얘만 방법이 다름.*/
























