@charset "utf-8";

/*reset*/
ul,li{list-style:none;}
div,p,ul,li,a,img{margin:0px; padding:0px;}
body{font:normal 12px/1.5em Arial,sans-serif; color:#333333;}
a{text-decoration:none; color:#333333;}

/*wrap*/
#wrap{margin:20px; border:1px solid red;}

/*-----------------------------------ex1-------------------------------------*/

#ex1{border:1px solid red; height:150px;}
.ex1_1, .ex1_2{background-color:orange; margin:5px 0px; width:50px; height:50px; cursor:pointer; color:transparent;}

.ex1_1{transition-property:width; transition-duration:2s;}
.ex1_2{transition:width 5s;}
.ex1_1:hover, .ex1_2:hover{width:300px;}

/*.ex1_1:hover, .ex1_2:hover{width:300px;/*게이지 차는거처럼 올라감. 근대 내리면 팍 없어짐 transition-property:width; transition-duration:2s;}*/

/*-----------------------------------ex2-------------------------------------*/

#ex2{border:1px solid red; height:400px;}
#ex2 > p{background-color:#6600ff; width:50px; height:50px; color:#ffffff; margin:5px 0px; cursor:pointer; transition:width 2s;}

#ex2 > .ex2_1{transition-timing-function:linear;}/*시작과 종료를 부드럽게*/
#ex2 > .ex2_2{transition-timing-function:ease;}/*시작과 종료를 일정하게*/
#ex2 > .ex2_3{transition-timing-function:ease-in;}/*서서히 시작*/
#ex2 > .ex2_4{transition-timing-function:ease-out;}/*서서히 종료*/
#ex2 > .ex2_5{transition-timing-function:ease-in-out;}/*서서히 시작하여 서서히 종료*/
#ex2 > .ex2_6{transition-delay:1s;}/*x초 후에*/
#ex2 > p:hover{width:300px;}

/*-----------------------------------ex3-------------------------------------*/

#ex3{border:1px solid red; height:200px;}/*돌리려면 공간이 있어야 하기 때문*/
#ex3 p{margin-left:50px; margin-top:50px;}
#ex3 > p > img{transform:rotate(0deg); cursor:pointer; opacity:1.0; transition:all 2s;}
#ex3 > p > img:hover{transform:rotate(360deg); opacity:0.3;}/*2초에 한바퀴 회전. 마우스 떼면 역동작으로 원본으로 복귀.*/

/*-----------------------------------ex4-------------------------------------*/

#ex4{border:1px solid red; height:300px;}
#ex4 > ul{width:400px; height:200px;}
#ex4 > ul > li{float:left; width:200px; height:200px;}
#ex4 > ul > li > a{background:#cccccc url(../images/arrow.gif) no-repeat left center; display:block; color:#ffffff; font-weight:bold; font-size:15px; text-align:center; line-height:200px; transition:all 0.3s;}
#ex4 > ul > li > a:hover{background-color:#000000; background-position:right center;}/*호버링 시 색,화살표 변화*/

/*-----------------------------------ex4-------------------------------------*/
#ex5{height:500px;}
#ex5 input[type="radio"]{display:none;}/*버튼 숨기기*/
#ex5 label{border-bottom:1px solid #cccccc; cursor:pointer; width:300px; height:25px; display:block; line-height:26px; margin-bottom:5px;}/*변화가 없을땐 display:block을 해봅시다.*/
#ex5 input[type="radio"]+.container > p{background-color:#eaeaea; width:300px; height:0px; overflow:hidden; transition:height 1s;}
#ex5 input[type="radio"]:checked+.container > p{height:100px;}/*선택내용 보이기*/












